/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  /*margin: 0 auto -60px;*/
}

/* Set the fixed height of the footer here */
/*#push,
#footer {
  height: 60px;
}*/
#footer {
  background-color: #f5f5f5;
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 820px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    /*height: 100px;*/
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 0px;
}
.container .credit {
  margin: 20px 0;
}

/* ================================== */
/*  overriden bootstrap attributes    */
/* ================================== */

.list-inline {
  margin-left: 20px;
}

/* ==================================== */
/*  end overriden bootstrap attributes  */
/* ==================================== */

.container-full {
  margin: 0 auto;
  width: 100%;
  right: 0;
  left: 0;
  width: 1170px;
}

.page-title {
  padding: 0px;
  margin-top: -21px;
  color: inherit;
  background-color: #ecf0f1;
  text-align: center;
}

.page-title h1 {
  font-size: 67.5px;
  line-height: 1;
}

.shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .8);
}

/* hide video on mobile devices*/
@media screen and (max-width: 600px) {
  .videoblock {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.videoblock {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.social {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}